<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create List</title>
</head>
<body>
    <h1>Add list</h1>
    <p>Hi </p>
    <form action="/api/create" method="POST">
        <label for="list">List:</label>
        <input type="text" id="list" name="list" placeholder="Enter to do list" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>